In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('FM 2023.csv')
df

,Name,Position,Age,ca,pa,Nationality,Club,Corners,Crossing,Dribbling,...,World reputation,Race,RCA,Colour of skin,Date of birth,Number of national team appearances,Goals scored for the national team,Salary,Rental club,UID
0,Kevin De Bruyne,M/AM RLC,31,189,189,Belgium,Manchester City,14,19,15,...,9400,Northern_European,181,4,1991/6/28,91,24,394372.0,NaN,18004457
1,Kylian Mbappé,AM/S RL,23,188,197,France,Paris Saint-Germain,13,13,18,...,9248,African_Caribbean,172,13,1998/12/20,57,27,1035616.0,NaN,85139014
2,Robert Lewandowski,S,33,186,190,Poland,Barcelona,3,8,13,...,9250,Northern_European,183,3,1988/8/21,132,76,345204.0,NaN,719601
3,Erling Haaland,S,22,185,195,"Norway,England",Manchester City,7,10,14,...,8750,Northern_European,185,2,2000/7/21,21,20,394372.0,NaN,29179241
4,Mohamed Salah,AM/S RL,30,185,187,Egypt,Liverpool,12,14,17,...,8750,North_African__Middle_Eastern,181,9,1992/6/15,85,47,405971.0,NaN,98028755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8447,Joe Ashton,D L,16,45,135,England,Burnley,3,4,5,...,236,Northern_European,41,3,2006/6/26,0,0,203.0,NaN,2000210572
8448,River Ries,S,17,45,135,Germany,Karlsruher SC,2,2,11,...,462,Northern_European,33,255,2005/4/3,0,0,402.0,NaN,2000197059
8449,Halilcan Doğan,D C,23,45,-75,Turkey,Osmaniyespor Futbol Kulübü,1,1,1,...,1145,Northern_European,41,3,1999/2/11,0,0,82.0,NaN,2000047739
8450,Adijat Sefer,S,17,45,135,Germany,TSG Hoffenheim,3,4,12,...,474,Northern_European,40,255,2005/1/20,0,0,646.0,NaN,2000197383
8451,Linus Urban,S,17,45,135,Germany,SV Werder Bremen,4,2,10,...,176,Northern_European,41,255,2004/11/20,0,0,646.0,NaN,2000194686

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8452 entries, 0 to 8451
Data columns (total 98 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Name                                 8452 non-null   object
 1   Position                             8452 non-null   object
 2   Age                                  8452 non-null   int64
 3   ca                                   8452 non-null   int64
 4   pa                                   8452 non-null   int64
 5   Nationality                          8452 non-null   object
 6   Club                                 8345 non-null   object
 7   Corners                              8452 non-null   int64
 8   Crossing                             8452 non-null   int64
 9   Dribbling                            8452 non-null   int64
 10  Finishing                            8452 non-null   int64
 11  First Touch                          8452 non-null   int64
 12  Free Kick Taking                     8452 non-null   int64
 13  Heading                              8452 non-null   int64
 14  Long Shots                           8452 non-null   int64
 15  Long Throws                          8452 non-null   int64
 16  Marking                              8452 non-null   int64
 17  Passing                              8452 non-null   int64
 18  Penalty Taking                       8452 non-null   int64
 19  Tackling                             8452 non-null   int64
 20  Technique                            8452 non-null   int64
 21  Aggressiion                          8452 non-null   int64
 22  Anticipation                         8452 non-null   int64
 23  Bravery                              8452 non-null   int64
 24  Composure                            8452 non-null   int64
 25  Concentration                        8452 non-null   int64
 26  Vision                               8452 non-null   int64
 27  Decision                             8452 non-null   int64
 28  Determination                        8452 non-null   int64
 29  Flair                                8452 non-null   int64
 30  Leadership                           8452 non-null   int64
 31  Off The Ball                         8452 non-null   int64
 32  Position.1                           8452 non-null   int64
 33  Teamwork                             8452 non-null   int64
 34  Work Rate                            8452 non-null   int64
 35  Acceleration                         8452 non-null   int64
 36  Agility                              8452 non-null   int64
 37  Balance                              8452 non-null   int64
 38  Jumping Reach                        8452 non-null   int64
 39  Natural Fitness                      8452 non-null   int64
 40  Pace                                 8452 non-null   int64
 41  Stamina                              8452 non-null   int64
 42  Strength                             8452 non-null   int64
 43  Stability                            8452 non-null   int64
 44  Foul                                 8452 non-null   int64
 45  Contest performance                  8452 non-null   int64
 46  Injury                               8452 non-null   int64
 47  diversity                            8452 non-null   int64
 48  Aerial Reach                         8452 non-null   int64
 49  Command Of Area                      8452 non-null   int64
 50  Communication                        8452 non-null   int64
 51  Eccentricity                         8452 non-null   int64
 52  Handling                             8452 non-null   int64
 53  Kicking                              8452 non-null   int64
 54  One On Ones                          8452 non-null   int64
 55  Reflexes                             8452 non-null   int64
 56  Rushing Out                          8452 non-null   int64
 57  Punching                             8452 non-null   int64
 58  Throwing                             8452 non-null   int64
 59  Adaptation                           8452 non-null   int64
 60  Ambition                             8452 non-null   int64
 61  Argue                                8452 non-null   int64
 62  Loyal                                8452 non-null   int64
 63  Resistant to stress                  8452 non-null   int64
 64  Professional                         8452 non-null   int64
 65  Sportsmanship                        8452 non-null   int64
 66  Emotional control                    8452 non-null   int64
 67  GK                                   8452 non-null   int64
 68  DL                                   8452 non-null   int64
 69  DC                                   8452 non-null   int64
 70  DR                                   8452 non-null   int64
 71  WBL                                  8452 non-null   int64
 72  WBR                                  8452 non-null   int64
 73  DM                                   8452 non-null   int64
 74  ML                                   8452 non-null   int64
 75  MC                                   8452 non-null   int64
 76  MR                                   8452 non-null   int64
 77  AML                                  8452 non-null   int64
 78  AMC                                  8452 non-null   int64
 79  AMR                                  8452 non-null   int64
 80  ST                                   8452 non-null   int64
 81  Height                               8452 non-null   int64
 82  Weight                               8452 non-null   int64
 83  Left Foot                            8452 non-null   int64
 84  Right Foot                           8452 non-null   int64
 85  Values                               8452 non-null   int64
 86  Current reputation                   8452 non-null   int64
 87  Domestic reputation                  8452 non-null   int64
 88  World reputation                     8452 non-null   int64
 89  Race                                 8452 non-null   object
 90  RCA                                  8452 non-null   int64
 91  Colour of skin                       8452 non-null   int64
 92  Date of birth                        8452 non-null   object
 93  Number of national team appearances  8452 non-null   int64
 94  Goals scored for the national team   8452 non-null   int64
 95  Salary                               8345 non-null   float64
 96  Rental club                          995 non-null    object
 97  UID                                  8452 non-null   int64
dtypes: float64(1), int64(90), object(7)
memory usage: 6.3+ MB

In [4]:
df.isnull()

,Name,Position,Age,ca,pa,Nationality,Club,Corners,Crossing,Dribbling,...,World reputation,Race,RCA,Colour of skin,Date of birth,Number of national team appearances,Goals scored for the national team,Salary,Rental club,UID
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8447,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
8448,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
8449,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
8450,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
8451,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [5]:
df.isnull().sum()

Name                                      0
Position                                  0
Age                                       0
ca                                        0
pa                                        0
                                       ...
Number of national team appearances       0
Goals scored for the national team        0
Salary                                  107
Rental club                            7457
UID                                       0
Length: 98, dtype: int64

In [6]:
a = np.mean(df['Salary'])
a

20890.90748951468

In [7]:
df['Salary'].fillna(a, inplace = True)
df

C:\Users\DJ\AppData\Local\Temp\ipykernel_2816\3893496283.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(a, inplace = True)

,Name,Position,Age,ca,pa,Nationality,Club,Corners,Crossing,Dribbling,...,World reputation,Race,RCA,Colour of skin,Date of birth,Number of national team appearances,Goals scored for the national team,Salary,Rental club,UID
0,Kevin De Bruyne,M/AM RLC,31,189,189,Belgium,Manchester City,14,19,15,...,9400,Northern_European,181,4,1991/6/28,91,24,394372.0,NaN,18004457
1,Kylian Mbappé,AM/S RL,23,188,197,France,Paris Saint-Germain,13,13,18,...,9248,African_Caribbean,172,13,1998/12/20,57,27,1035616.0,NaN,85139014
2,Robert Lewandowski,S,33,186,190,Poland,Barcelona,3,8,13,...,9250,Northern_European,183,3,1988/8/21,132,76,345204.0,NaN,719601
3,Erling Haaland,S,22,185,195,"Norway,England",Manchester City,7,10,14,...,8750,Northern_European,185,2,2000/7/21,21,20,394372.0,NaN,29179241
4,Mohamed Salah,AM/S RL,30,185,187,Egypt,Liverpool,12,14,17,...,8750,North_African__Middle_Eastern,181,9,1992/6/15,85,47,405971.0,NaN,98028755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8447,Joe Ashton,D L,16,45,135,England,Burnley,3,4,5,...,236,Northern_European,41,3,2006/6/26,0,0,203.0,NaN,2000210572
8448,River Ries,S,17,45,135,Germany,Karlsruher SC,2,2,11,...,462,Northern_European,33,255,2005/4/3,0,0,402.0,NaN,2000197059
8449,Halilcan Doğan,D C,23,45,-75,Turkey,Osmaniyespor Futbol Kulübü,1,1,1,...,1145,Northern_European,41,3,1999/2/11,0,0,82.0,NaN,2000047739
8450,Adijat Sefer,S,17,45,135,Germany,TSG Hoffenheim,3,4,12,...,474,Northern_European,40,255,2005/1/20,0,0,646.0,NaN,2000197383
8451,Linus Urban,S,17,45,135,Germany,SV Werder Bremen,4,2,10,...,176,Northern_European,41,255,2004/11/20,0,0,646.0,NaN,2000194686

In [8]:
df.isnull().sum()

Name                                      0
Position                                  0
Age                                       0
ca                                        0
pa                                        0
                                       ...
Number of national team appearances       0
Goals scored for the national team        0
Salary                                    0
Rental club                            7457
UID                                       0
Length: 98, dtype: int64

In [9]:
df['Rental club']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
8447    NaN
8448    NaN
8449    NaN
8450    NaN
8451    NaN
Name: Rental club, Length: 8452, dtype: object

In [10]:
df.drop('Rental club', axis = 1, inplace = True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8452 entries, 0 to 8451
Data columns (total 97 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Name                                 8452 non-null   object
 1   Position                             8452 non-null   object
 2   Age                                  8452 non-null   int64
 3   ca                                   8452 non-null   int64
 4   pa                                   8452 non-null   int64
 5   Nationality                          8452 non-null   object
 6   Club                                 8345 non-null   object
 7   Corners                              8452 non-null   int64
 8   Crossing                             8452 non-null   int64
 9   Dribbling                            8452 non-null   int64
 10  Finishing                            8452 non-null   int64
 11  First Touch                          8452 non-null   int64
 12  Free Kick Taking                     8452 non-null   int64
 13  Heading                              8452 non-null   int64
 14  Long Shots                           8452 non-null   int64
 15  Long Throws                          8452 non-null   int64
 16  Marking                              8452 non-null   int64
 17  Passing                              8452 non-null   int64
 18  Penalty Taking                       8452 non-null   int64
 19  Tackling                             8452 non-null   int64
 20  Technique                            8452 non-null   int64
 21  Aggressiion                          8452 non-null   int64
 22  Anticipation                         8452 non-null   int64
 23  Bravery                              8452 non-null   int64
 24  Composure                            8452 non-null   int64
 25  Concentration                        8452 non-null   int64
 26  Vision                               8452 non-null   int64
 27  Decision                             8452 non-null   int64
 28  Determination                        8452 non-null   int64
 29  Flair                                8452 non-null   int64
 30  Leadership                           8452 non-null   int64
 31  Off The Ball                         8452 non-null   int64
 32  Position.1                           8452 non-null   int64
 33  Teamwork                             8452 non-null   int64
 34  Work Rate                            8452 non-null   int64
 35  Acceleration                         8452 non-null   int64
 36  Agility                              8452 non-null   int64
 37  Balance                              8452 non-null   int64
 38  Jumping Reach                        8452 non-null   int64
 39  Natural Fitness                      8452 non-null   int64
 40  Pace                                 8452 non-null   int64
 41  Stamina                              8452 non-null   int64
 42  Strength                             8452 non-null   int64
 43  Stability                            8452 non-null   int64
 44  Foul                                 8452 non-null   int64
 45  Contest performance                  8452 non-null   int64
 46  Injury                               8452 non-null   int64
 47  diversity                            8452 non-null   int64
 48  Aerial Reach                         8452 non-null   int64
 49  Command Of Area                      8452 non-null   int64
 50  Communication                        8452 non-null   int64
 51  Eccentricity                         8452 non-null   int64
 52  Handling                             8452 non-null   int64
 53  Kicking                              8452 non-null   int64
 54  One On Ones                          8452 non-null   int64
 55  Reflexes                             8452 non-null   int64
 56  Rushing Out                          8452 non-null   int64
 57  Punching                             8452 non-null   int64
 58  Throwing                             8452 non-null   int64
 59  Adaptation                           8452 non-null   int64
 60  Ambition                             8452 non-null   int64
 61  Argue                                8452 non-null   int64
 62  Loyal                                8452 non-null   int64
 63  Resistant to stress                  8452 non-null   int64
 64  Professional                         8452 non-null   int64
 65  Sportsmanship                        8452 non-null   int64
 66  Emotional control                    8452 non-null   int64
 67  GK                                   8452 non-null   int64
 68  DL                                   8452 non-null   int64
 69  DC                                   8452 non-null   int64
 70  DR                                   8452 non-null   int64
 71  WBL                                  8452 non-null   int64
 72  WBR                                  8452 non-null   int64
 73  DM                                   8452 non-null   int64
 74  ML                                   8452 non-null   int64
 75  MC                                   8452 non-null   int64
 76  MR                                   8452 non-null   int64
 77  AML                                  8452 non-null   int64
 78  AMC                                  8452 non-null   int64
 79  AMR                                  8452 non-null   int64
 80  ST                                   8452 non-null   int64
 81  Height                               8452 non-null   int64
 82  Weight                               8452 non-null   int64
 83  Left Foot                            8452 non-null   int64
 84  Right Foot                           8452 non-null   int64
 85  Values                               8452 non-null   int64
 86  Current reputation                   8452 non-null   int64
 87  Domestic reputation                  8452 non-null   int64
 88  World reputation                     8452 non-null   int64
 89  Race                                 8452 non-null   object
 90  RCA                                  8452 non-null   int64
 91  Colour of skin                       8452 non-null   int64
 92  Date of birth                        8452 non-null   object
 93  Number of national team appearances  8452 non-null   int64
 94  Goals scored for the national team   8452 non-null   int64
 95  Salary                               8452 non-null   float64
 96  UID                                  8452 non-null   int64
dtypes: float64(1), int64(90), object(6)
memory usage: 6.3+ MB

In [12]:
df.rename(columns = {'ca':'Rating', 'pa':'Potential'}, inplace = True)

In [13]:
df

,Name,Position,Age,Rating,Potential,Nationality,Club,Corners,Crossing,Dribbling,...,Domestic reputation,World reputation,Race,RCA,Colour of skin,Date of birth,Number of national team appearances,Goals scored for the national team,Salary,UID
0,Kevin De Bruyne,M/AM RLC,31,189,189,Belgium,Manchester City,14,19,15,...,9400,9400,Northern_European,181,4,1991/6/28,91,24,394372.0,18004457
1,Kylian Mbappé,AM/S RL,23,188,197,France,Paris Saint-Germain,13,13,18,...,9398,9248,African_Caribbean,172,13,1998/12/20,57,27,1035616.0,85139014
2,Robert Lewandowski,S,33,186,190,Poland,Barcelona,3,8,13,...,9400,9250,Northern_European,183,3,1988/8/21,132,76,345204.0,719601
3,Erling Haaland,S,22,185,195,"Norway,England",Manchester City,7,10,14,...,9250,8750,Northern_European,185,2,2000/7/21,21,20,394372.0,29179241
4,Mohamed Salah,AM/S RL,30,185,187,Egypt,Liverpool,12,14,17,...,9445,8750,North_African__Middle_Eastern,181,9,1992/6/15,85,47,405971.0,98028755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8447,Joe Ashton,D L,16,45,135,England,Burnley,3,4,5,...,2270,236,Northern_European,41,3,2006/6/26,0,0,203.0,2000210572
8448,River Ries,S,17,45,135,Germany,Karlsruher SC,2,2,11,...,2348,462,Northern_European,33,255,2005/4/3,0,0,402.0,2000197059
8449,Halilcan Doğan,D C,23,45,-75,Turkey,Osmaniyespor Futbol Kulübü,1,1,1,...,3055,1145,Northern_European,41,3,1999/2/11,0,0,82.0,2000047739
8450,Adijat Sefer,S,17,45,135,Germany,TSG Hoffenheim,3,4,12,...,2350,474,Northern_European,40,255,2005/1/20,0,0,646.0,2000197383
8451,Linus Urban,S,17,45,135,Germany,SV Werder Bremen,4,2,10,...,2050,176,Northern_European,41,255,2004/11/20,0,0,646.0,2000194686

In [14]:
df['Club'].isnull().sum()

107

In [15]:
df['Club'].fillna('No Club', inplace = True)

C:\Users\DJ\AppData\Local\Temp\ipykernel_2816\1693491003.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Club'].fillna('No Club', inplace = True)

In [16]:
df

,Name,Position,Age,Rating,Potential,Nationality,Club,Corners,Crossing,Dribbling,...,Domestic reputation,World reputation,Race,RCA,Colour of skin,Date of birth,Number of national team appearances,Goals scored for the national team,Salary,UID
0,Kevin De Bruyne,M/AM RLC,31,189,189,Belgium,Manchester City,14,19,15,...,9400,9400,Northern_European,181,4,1991/6/28,91,24,394372.0,18004457
1,Kylian Mbappé,AM/S RL,23,188,197,France,Paris Saint-Germain,13,13,18,...,9398,9248,African_Caribbean,172,13,1998/12/20,57,27,1035616.0,85139014
2,Robert Lewandowski,S,33,186,190,Poland,Barcelona,3,8,13,...,9400,9250,Northern_European,183,3,1988/8/21,132,76,345204.0,719601
3,Erling Haaland,S,22,185,195,"Norway,England",Manchester City,7,10,14,...,9250,8750,Northern_European,185,2,2000/7/21,21,20,394372.0,29179241
4,Mohamed Salah,AM/S RL,30,185,187,Egypt,Liverpool,12,14,17,...,9445,8750,North_African__Middle_Eastern,181,9,1992/6/15,85,47,405971.0,98028755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8447,Joe Ashton,D L,16,45,135,England,Burnley,3,4,5,...,2270,236,Northern_European,41,3,2006/6/26,0,0,203.0,2000210572
8448,River Ries,S,17,45,135,Germany,Karlsruher SC,2,2,11,...,2348,462,Northern_European,33,255,2005/4/3,0,0,402.0,2000197059
8449,Halilcan Doğan,D C,23,45,-75,Turkey,Osmaniyespor Futbol Kulübü,1,1,1,...,3055,1145,Northern_European,41,3,1999/2/11,0,0,82.0,2000047739
8450,Adijat Sefer,S,17,45,135,Germany,TSG Hoffenheim,3,4,12,...,2350,474,Northern_European,40,255,2005/1/20,0,0,646.0,2000197383
8451,Linus Urban,S,17,45,135,Germany,SV Werder Bremen,4,2,10,...,2050,176,Northern_European,41,255,2004/11/20,0,0,646.0,2000194686

In [17]:
df['Club'].isnull().sum()

0

In [18]:
#pd.set_option("display.max_rows", None)
df.isnull().sum()

Name                                   0
Position                               0
Age                                    0
Rating                                 0
Potential                              0
                                      ..
Date of birth                          0
Number of national team appearances    0
Goals scored for the national team     0
Salary                                 0
UID                                    0
Length: 97, dtype: int64

In [19]:
df.drop('RCA', axis = 1, inplace = True)

In [20]:
df.isnull().sum()

Name                                   0
Position                               0
Age                                    0
Rating                                 0
Potential                              0
                                      ..
Date of birth                          0
Number of national team appearances    0
Goals scored for the national team     0
Salary                                 0
UID                                    0
Length: 96, dtype: int64

In [21]:
df

,Name,Position,Age,Rating,Potential,Nationality,Club,Corners,Crossing,Dribbling,...,Current reputation,Domestic reputation,World reputation,Race,Colour of skin,Date of birth,Number of national team appearances,Goals scored for the national team,Salary,UID
0,Kevin De Bruyne,M/AM RLC,31,189,189,Belgium,Manchester City,14,19,15,...,9450,9400,9400,Northern_European,4,1991/6/28,91,24,394372.0,18004457
1,Kylian Mbappé,AM/S RL,23,188,197,France,Paris Saint-Germain,13,13,18,...,9398,9398,9248,African_Caribbean,13,1998/12/20,57,27,1035616.0,85139014
2,Robert Lewandowski,S,33,186,190,Poland,Barcelona,3,8,13,...,9300,9400,9250,Northern_European,3,1988/8/21,132,76,345204.0,719601
3,Erling Haaland,S,22,185,195,"Norway,England",Manchester City,7,10,14,...,9250,9250,8750,Northern_European,2,2000/7/21,21,20,394372.0,29179241
4,Mohamed Salah,AM/S RL,30,185,187,Egypt,Liverpool,12,14,17,...,9400,9445,8750,North_African__Middle_Eastern,9,1992/6/15,85,47,405971.0,98028755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8447,Joe Ashton,D L,16,45,135,England,Burnley,3,4,5,...,2120,2270,236,Northern_European,3,2006/6/26,0,0,203.0,2000210572
8448,River Ries,S,17,45,135,Germany,Karlsruher SC,2,2,11,...,2248,2348,462,Northern_European,255,2005/4/3,0,0,402.0,2000197059
8449,Halilcan Doğan,D C,23,45,-75,Turkey,Osmaniyespor Futbol Kulübü,1,1,1,...,3200,3055,1145,Northern_European,3,1999/2/11,0,0,82.0,2000047739
8450,Adijat Sefer,S,17,45,135,Germany,TSG Hoffenheim,3,4,12,...,2000,2350,474,Northern_European,255,2005/1/20,0,0,646.0,2000197383
8451,Linus Urban,S,17,45,135,Germany,SV Werder Bremen,4,2,10,...,2050,2050,176,Northern_European,255,2004/11/20,0,0,646.0,2000194686

In [22]:
from sklearn import linear_model

In [23]:
a = df.iloc[:, ~df.columns.isin(['Name', 'Position', 'Nationality', 'Club', 'Race', 'Rating', 'Date of birth'])]

In [24]:
b = df.iloc[0:,3]

In [25]:
a

,Age,Potential,Corners,Crossing,Dribbling,Finishing,First Touch,Free Kick Taking,Heading,Long Shots,...,Right Foot,Values,Current reputation,Domestic reputation,World reputation,Colour of skin,Number of national team appearances,Goals scored for the national team,Salary,UID
0,31,189,14,19,15,16,16,17,6,17,...,20,347975206,9450,9400,9400,4,91,24,394372.0,18004457
1,23,197,13,13,18,17,18,12,7,13,...,20,347975206,9398,9398,9248,13,57,27,1035616.0,85139014
2,33,190,3,8,13,19,18,15,17,12,...,20,347975206,9300,9400,9250,3,132,76,345204.0,719601
3,22,195,7,10,14,18,16,13,15,13,...,11,347975206,9250,9250,8750,2,21,20,394372.0,29179241
4,30,187,12,14,17,17,17,12,10,13,...,8,347975206,9400,9445,8750,9,85,47,405971.0,98028755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8447,16,135,3,4,5,4,4,1,6,1,...,7,124343,2120,2270,236,3,0,0,203.0,2000210572
8448,17,135,2,2,11,11,11,2,6,1,...,20,42749,2248,2348,462,255,0,0,402.0,2000197059
8449,23,-75,1,1,1,2,4,1,12,3,...,20,5199,3200,3055,1145,3,0,0,82.0,2000047739
8450,17,135,3,4,12,7,8,3,12,4,...,20,70999,2000,2350,474,255,0,0,646.0,2000197383
8451,17,135,4,2,10,13,8,4,13,5,...,20,70999,2050,2050,176,255,0,0,646.0,2000194686

In [26]:
b

0       189
1       188
2       186
3       185
4       185
       ...
8447     45
8448     45
8449     45
8450     45
8451     45
Name: Rating, Length: 8452, dtype: int64

In [27]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(a, b, test_size = 0.10, random_state = 10)

In [28]:
x_train

,Age,Potential,Corners,Crossing,Dribbling,Finishing,First Touch,Free Kick Taking,Heading,Long Shots,...,Right Foot,Values,Current reputation,Domestic reputation,World reputation,Colour of skin,Number of national team appearances,Goals scored for the national team,Salary,UID
1777,28,135,10,12,12,13,14,12,8,15,...,20,6450495,6495,6895,4995,4,34,7,33937.0,62115981
5232,27,126,9,9,11,12,12,9,9,9,...,20,3668735,6208,6250,4750,6,21,6,8000.0,92072090
4506,20,147,8,7,12,12,14,9,12,11,...,20,7992601,6100,6100,4200,17,13,4,4814.0,12081007
1184,24,144,4,7,9,5,11,3,14,4,...,20,11563463,6750,7250,5400,1,28,0,27838.0,28100477
6034,22,135,8,12,13,7,15,6,8,8,...,20,3029175,5900,5750,4350,14,0,0,6722.0,70130930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4829,22,150,7,8,11,8,14,7,16,10,...,20,3748499,6041,6041,4041,4,0,0,4966.0,67263880
7291,19,-75,5,7,10,12,13,9,8,10,...,20,1718000,5000,4365,2006,2,0,0,2022.0,43616542
1344,20,-85,4,7,12,7,12,4,16,7,...,20,66000000,6700,6400,5700,17,0,0,76711.0,49048365
7293,22,140,10,10,11,11,13,10,9,11,...,20,33010,5000,5000,3250,1,0,0,28998.0,29173647
1289,22,152,13,12,14,11,14,12,8,10,...,20,19965200,6700,6700,4500,9,0,0,19999.0,49037827

In [29]:
x_test

,Age,Potential,Corners,Crossing,Dribbling,Finishing,First Touch,Free Kick Taking,Heading,Long Shots,...,Right Foot,Values,Current reputation,Domestic reputation,World reputation,Colour of skin,Number of national team appearances,Goals scored for the national team,Salary,UID
5533,29,133,12,13,13,12,14,13,7,13,...,13,665733,5925,5925,3242,8,0,0,5237.0,19088676
6083,19,-75,3,9,8,7,10,8,13,8,...,6,11142000,5792,4505,3573,0,0,0,7996.0,43461908
330,25,155,5,8,12,15,13,13,18,13,...,20,10138907,7300,7500,5900,9,23,3,56089.0,78078886
2104,24,149,4,11,13,7,11,4,5,8,...,20,12334360,6550,6950,5550,4,36,5,57996.0,28094856
4625,30,144,3,4,6,7,8,5,15,4,...,20,347975206,6350,4498,5133,8,0,0,17880.0,19046032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,31,150,7,8,7,7,8,7,16,7,...,20,347975206,7000,7250,7000,3,29,2,42692.0,14023371
7658,18,-75,10,11,13,8,13,10,5,11,...,7,7416205,4550,4550,2200,3,0,0,1228.0,2000014487
1986,32,135,14,13,13,11,14,13,7,13,...,20,347975206,6496,6496,4998,1,5,0,6057.0,27010420
3254,34,135,12,12,14,11,14,11,6,14,...,20,787695,6400,6250,5500,1,0,0,27999.0,8156639
6902,19,138,8,8,10,13,14,6,14,8,...,10,3363760,5300,5300,4000,1,0,0,634.0,2000055710

In [30]:
y_train

1777    130
5232    120
4506    122
1184    135
6034    117
       ...
4829    121
7291    100
1344    134
7293    100
1289    134
Name: Rating, Length: 7606, dtype: int64

In [31]:
y_test

5533    120
6083    116
330     147
2104    129
4625    122
       ...
491     143
7658     91
1986    130
3254    125
6902    106
Name: Rating, Length: 846, dtype: int64

In [32]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()
regression.fit(x_train,y_train)

LinearRegression()

In [33]:
from sklearn.model_selection import cross_val_score
cross_val_score(regression, x_train, y_train,scoring = 'neg_mean_squared_error', cv = 10)

array([-11.2937706 , -11.83418462,  -9.35193427, -11.2524364 ,
        -9.67913257,  -9.08941184, -10.33645501, -10.35172854,
        -9.22875215, -10.73285362])

In [34]:
mse = cross_val_score(regression, x_train, y_train, scoring = 'neg_mean_squared_error', cv = 10)

In [35]:
np.mean(mse)

-10.315065961303741

In [36]:
reg_pred = regression.predict(x_test)

In [37]:
reg_pred

array([120.9424735 , 115.55412384, 143.3085518 , 126.57110241,
       122.37230652, 119.72446303, 121.09921402, 112.62959608,
       119.9456391 , 100.8550207 ,  68.25355022, 127.25979365,
        90.80416173,  71.3986632 , 133.04106099, 136.57502468,
       123.84099873, 132.67564796, 124.58086456, 124.15425245,
        91.20011577, 110.68516403, 120.86713692, 125.96644666,
       130.2131215 , 143.08226941, 104.41429527, 122.75663599,
       142.13616004, 123.26330806, 113.86356435,  94.63902197,
       152.37704883, 114.34958746, 138.16482752, 156.21839496,
        73.40962535, 129.99198119, 126.18364738, 122.29668982,
       121.09810877, 115.08804142, 124.48544805, 126.30811286,
       128.54820509, 137.6190949 , 121.28839244, 121.07606453,
        62.10253768, 125.96235315, 134.33213994, 116.38116861,
       133.97787126,  71.57021042, 125.77623769, 125.25358487,
       105.79114948, 155.23193696,  62.59584817, 117.83435227,
       111.66856414, 134.45851205, 123.1173959 , 120.18903815,
       134.11181203, 121.40473377, 123.55310729, 123.48412381,
       108.61997559, 124.11562314, 108.05091558, 129.661172  ,
       102.06080487, 121.26879939, 133.37246103, 121.38395412,
       125.62771376, 127.89716296, 123.21755773, 123.5715454 ,
       105.86434079, 123.27105591,  93.5974084 , 116.42501114,
       109.92450465,  71.88233352, 130.82654872, 115.15247015,
       127.41935885, 121.58929061, 124.91361139, 137.90813237,
       135.89583961, 119.5323436 , 124.3658459 , 119.91248303,
       127.80804223,  95.98520893, 100.57391551, 126.94479333,
       119.8727205 ,  90.34944571, 117.44193838,  86.20707413,
       125.47017878,  78.89598671, 112.22123048, 122.86553252,
       170.12980308, 127.36020259, 131.20164726,  65.77181256,
       142.63488489, 130.77415895, 116.07719064, 111.87001418,
       132.39105565, 108.99053043, 124.68653224,  94.0738656 ,
       126.78242645,  77.10130171, 145.46076845, 129.83259872,
        84.03060054, 127.54647681, 133.8429587 , 128.42187598,
       152.03515833, 120.57784011, 158.38394719, 128.49635418,
       133.00198881, 125.1112904 , 119.33004356,  95.57779052,
       125.96314506, 120.98596809, 113.228204  , 127.43127203,
       118.93728768, 120.8177633 , 123.38031401,  86.84271201,
       132.34770362, 129.79479019, 137.43243236, 150.62702512,
       123.42745492, 155.74197977, 125.29756221, 124.09117244,
       122.41242539, 113.56255603, 122.51662576, 134.3335489 ,
       126.68314663, 121.19943558, 119.10244961, 138.32613467,
       124.94117361,  99.91360322, 120.73308535, 123.93024553,
       117.01975472, 124.11454014, 123.42114021,  92.17406335,
        97.43939762, 116.62137584, 142.20227473, 101.36250972,
       127.50874702, 134.69632621, 120.92212285, 125.0698579 ,
       120.63416088, 129.64330516, 116.16241335, 139.05967228,
        82.85422753, 115.05815127, 128.07682583, 111.78867602,
       116.92462119,  78.74482599, 121.37131226, 133.85432463,
       131.45794423, 122.29774787,  99.32602931, 123.49002267,
       121.93357211, 129.88389427,  71.11034696, 123.60124471,
       124.18197433, 160.78973587, 127.42028047, 128.07239219,
       136.98193327, 119.02022098, 102.3132173 , 120.81936839,
       121.04486805, 135.20242436,  67.72480909, 125.13752023,
       118.30218198,  97.84375056, 131.11562609, 100.7413173 ,
       134.39426583,  86.3791125 , 120.8750905 , 134.62027415,
        73.8171008 , 106.72399417, 124.5008288 , 124.78114117,
       119.11507434, 127.6435536 , 117.48725119, 123.95395555,
       130.96809978, 136.12087879,  72.22830243, 140.9816679 ,
       129.31937112,  74.09398865, 113.80666632, 111.09869389,
       126.13496016, 106.70287581, 108.71926182, 123.18169574,
       122.3920712 , 116.58603424, 131.92814591, 106.39962776,
        94.75613421, 151.94518042,  52.33048814, 142.21414192,
       139.10332984, 136.4062168 , 113.25471109, 114.08628814,
       158.94802188, 119.80600446, 120.51492757, 129.41800064,
       126.73991769, 125.04414676, 106.44286836, 137.84480721,
       126.46575291,  82.90047415,  82.21064044, 119.09436616,
       138.65929287, 121.22954501,  97.79072461, 123.69949081,
       138.82299958, 124.09046017, 133.48821264, 144.69731625,
       123.50787723, 112.61890755, 143.29078341, 130.60897206,
       119.31929421, 148.16034393, 112.38890072, 130.00944374,
       149.48629171, 108.49130543, 116.45816253, 116.29092181,
       122.05369211, 128.84790953, 120.37703125, 115.38577066,
        76.65374895, 126.42712832, 138.26694606, 129.93843409,
       131.5826643 , 122.33519872,  73.4016854 , 146.34576277,
        92.17777736, 105.61315803, 124.56252504, 121.77505699,
       131.83140351, 123.38853152, 123.78523884, 132.4740055 ,
       122.56829801, 121.80033248, 125.94005659, 123.50500256,
       115.73171963, 132.98217873, 123.15004137, 148.51998595,
       119.93221227,  98.20554991, 128.24784115, 116.70728596,
       139.41772608, 129.25752194, 129.88890616,  61.48985892,
        81.50933478,  97.72621021, 120.16836126, 126.87667786,
       126.55885463, 115.16821416, 120.203516  , 151.12670488,
        90.92827007, 140.79954362, 126.35771799, 126.00200613,
       122.43776442, 130.35167948, 119.34254107, 118.87937762,
       134.50521538, 119.69961761, 123.84202191, 139.33684902,
       120.96294982, 128.55567498, 122.27037813, 122.33160814,
       125.60910148, 123.81962744, 125.17619587, 125.44524312,
       116.69742393, 128.08303258, 123.63754551, 120.31997201,
       100.05897166, 119.29093345,  86.91559973, 141.8723955 ,
       123.61095442,  96.51621676,  92.8066108 , 109.96605883,
       118.82973523,  97.66525283, 122.81623175, 125.90776088,
       127.55712494, 142.04355893,  79.32831544, 124.75527034,
       122.88599428,  74.3087808 ,  83.67187665, 109.21112881,
       134.14822599, 117.31410797, 127.01309768, 120.94306163,
       132.94687841, 108.31162855, 102.09013867, 132.73588577,
        83.92959211, 121.37443963,  77.23836207, 144.38606211,
       114.7577389 , 122.98951003, 130.94148183, 123.72667899,
       122.22640654, 128.12225314, 125.42599893, 124.9609934 ,
       133.37348169, 120.51200749, 105.90108099, 125.27566439,
       133.66112097, 130.43725334, 143.13171153,  88.2959689 ,
        93.73845134, 129.15620718, 133.38493219, 127.29284305,
       156.88646106, 128.7619618 , 134.3103247 , 117.61839595,
       140.31205564, 125.17778766, 118.38884834, 126.11966943,
       125.02246047, 129.05337423, 123.43931275, 123.50897094,
        72.67750637,  82.44876742, 109.58499835, 127.27528516,
       105.17954496, 139.76062861,  85.18243227,  99.2785503 ,
        67.50832227, 107.81661742, 111.65163912, 124.90992164,
       120.85472226,  93.92506383, 130.27354603, 127.41840952,
        87.19910699, 107.10651617, 121.5978492 , 114.40616686,
       102.84174767, 131.12125618, 100.74573158, 126.48947122,
       121.15205515, 139.94137725, 137.92910676, 120.13018868,
       136.71982102, 139.04914498, 123.05301888, 126.56804395,
       103.16051202, 124.51086564,  86.12576792, 109.39718017,
       121.35300955, 144.0425602 , 113.71110582, 119.61583749,
       139.44700034, 126.8899514 , 133.49953716,  83.96707787,
       155.41654475, 110.47934947, 121.39224762, 141.09775522,
        89.63011118, 122.59752559, 141.91808019,  70.30443543,
        89.15660581,  81.4476847 , 124.44409474,  85.19649207,
        95.43365597, 133.79891618, 128.59649036, 126.52522514,
       114.96828446, 132.51262307, 137.08219271,  81.21967137,
       125.59065219, 124.62032057, 125.09373825, 131.26458352,
       117.72531985, 132.23084125, 123.32337451, 123.96184614,
       103.89183503, 123.29750299, 106.27947271, 147.01250314,
       130.08036939, 119.999584  , 127.06367021, 128.98551095,
       125.90983105, 117.17381492, 127.4321648 , 124.88297141,
        76.98162834, 120.92773985,  91.45061643, 121.80075986,
       177.35297918, 125.00646574, 137.11368505, 125.59641601,
       127.00745297,  78.40877548, 137.73313013, 121.76289532,
       119.94798487, 148.228655  ,  57.10103653, 100.60267495,
       120.2904705 , 112.32386464,  81.12451483, 121.8846667 ,
       114.72020984, 125.08260244, 123.84527068, 117.13168377,
        85.8202403 , 123.66779938, 131.73367448, 165.73192834,
       132.84120096, 125.13491154, 124.1673716 , 115.32591468,
       125.09779933, 121.25388728, 103.32534167, 125.74916016,
       114.18784204, 157.69581669, 119.04938627, 120.67424528,
       141.05309686, 127.96900653, 112.85040797, 123.4823503 ,
       103.26502202, 104.69555459, 131.26422231, 126.50916061,
        87.21189275, 107.42547778, 123.01306914, 137.05689873,
       137.5627146 , 137.83600579,  80.94996971, 130.26778388,
       113.61699122, 130.62953907, 129.38509881, 117.04399092,
       127.42288872, 160.660625  ,  87.83758835, 123.10207067,
       117.2656436 , 122.17263482, 129.77052129, 110.73007823,
       133.73634488, 135.38474466, 150.67669174, 124.29911861,
       129.33327418, 127.25861098, 125.78173219, 125.82167539,
       125.41051032, 118.38066366, 128.92290401, 118.5873286 ,
       123.61510084, 117.88252418, 116.14044115, 127.7987719 ,
       104.22122229, 124.94484724, 134.76625868,  92.81779623,
       148.80351224, 128.89859951, 100.03901417, 124.15390771,
       123.95104561, 133.61792408, 122.89582269, 119.46863055,
       125.68594573, 115.4472081 , 125.1220468 ,  88.48684209,
       128.0654254 , 126.65347173, 134.98309452, 128.01344196,
       117.54136365, 117.8351534 , 102.20280036, 121.32639384,
       118.39892105, 117.77267642, 124.08587165, 139.07187185,
        94.77978687, 132.90715984, 137.00857537, 129.2698342 ,
       124.76994282, 117.42154943, 121.96271395, 179.94034756,
       135.19278483, 122.15369148, 129.98197506, 112.72212254,
       119.72437202, 123.14786754,  84.1574629 , 145.48708301,
       120.87956507, 143.49998468, 123.46474394, 123.8693196 ,
       130.20363297,  76.85492245, 123.80545357, 125.1790926 ,
        69.85933812, 129.5358836 , 126.85905549, 100.07711793,
       153.9887929 ,  88.19619358, 121.19656493, 117.77015804,
       139.2499141 , 123.20507791, 100.26467783, 137.13800121,
       125.49686203, 133.32462497, 105.55045676, 116.66234686,
       120.79915271,  72.84350793,  58.99574801, 139.17817811,
       145.44117769,  98.98618802, 123.5308596 , 121.80545379,
       123.53564079, 103.4231593 , 140.15526219, 102.91403218,
       124.76927402, 128.10926821, 120.26939267, 156.14884619,
       111.26909743, 136.17790913, 121.49212829, 152.23709981,
       124.87375599, 128.06554724, 127.43258706, 125.53186919,
       135.83617286, 110.37570142, 125.24052069, 127.79585428,
       127.33918412, 127.86274232, 132.70325939, 124.69919116,
       105.80417829, 124.56504241, 119.50212637,  95.3153153 ,
        96.09575479, 131.76512809,  67.65069713, 132.16931494,
       117.20681588, 109.87071023, 120.78409303, 123.2322426 ,
       121.18390182, 120.32912904, 111.13407125, 132.35184414,
       117.57051732, 131.22621192, 156.8211214 , 120.27329245,
       112.48811859, 111.86370501, 140.07973051, 122.51811859,
       123.15358514, 122.75875255, 124.99807642, 136.915524  ,
       127.40702789, 122.60927627, 124.84217615, 151.58253944,
       119.4718602 , 118.65204669, 126.95423607, 125.35829928,
       125.47253157, 136.70887877, 121.76095515, 133.53901694,
       118.18489362, 126.02212722, 121.49023222, 156.28320823,
        90.55684806,  88.6487584 , 122.20015902, 116.82678985,
        85.17188342, 125.17346865, 111.48848654, 130.60883827,
       118.89822679, 133.0528457 ,  80.97079995, 118.57879711,
       122.76849023,  87.21735114, 143.96991831, 107.10230619,
       118.74879142, 132.06472189,  78.66658429,  93.62442814,
       126.16947994, 122.38968287, 134.38002123, 132.36547839,
       113.50483663, 117.22620935, 125.58033307, 123.50888885,
       120.80690014, 120.56948993, 126.31199498, 101.07572899,
       126.60537294,  97.22355138, 121.53709399, 113.97155036,
       126.8788879 , 121.33327666, 144.20625788, 132.78151106,
       160.15256872, 125.16364941, 128.0615733 , 121.80302539,
       130.22028976, 121.0595609 , 117.27015611, 122.63566647,
       124.09992819, 121.8385419 , 120.33126814, 127.65379947,
        99.29295037, 150.7742788 , 127.96897258, 128.23605111,
       126.6489516 , 128.70352119, 115.43322135, 129.11319942,
       113.48888283, 102.63701569, 120.02463643, 136.57837662,
       143.56575169, 147.29577328, 125.84344511, 131.22864754,
       122.57269156, 122.53409748, 124.70840757, 121.21446759,
       127.79779683,  74.48968316, 108.32745786, 142.4288402 ,
       122.52372384, 113.12427949, 120.37284741, 124.68196712,
        98.88071557, 123.38515686, 130.97009451, 132.34645134,
       111.64130585, 126.10336743, 151.1714143 ,  94.05645138,
       103.41019014, 138.05630643,  93.35813128, 121.76170045,
       129.9971268 , 121.22672139, 129.89063454, 105.96907413,
       126.13644056, 111.01528186, 117.64640239,  79.77060332,
       130.77487767, 112.06757086, 124.94083364, 133.26941375,
       135.16253557, 102.31587604, 126.79756997, 110.02230195,
       139.20888092, 123.71450562, 135.69295976, 117.73683804,
       107.68830935, 128.05829627, 133.50172214, 123.63570301,
       111.78192801, 138.96383975,  89.56194281, 131.77841   ,
       124.61623002, 107.19663488])

In [38]:
from sklearn.metrics import r2_score

In [39]:
score = r2_score(reg_pred, y_test)

In [40]:
score

0.9680403226849212